* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.wrapper {
    width: 600px;
}
.wrapper .content {
    background: linear-gradient(145deg, red, green);
    color: blue;
    padding: 20px 20px 50px 20px;
    border-radius: 50px;
    box-shadow: 0px 5px 30px rgba(0,0,0,0.66);
}